@page
@using ChessBurgas64.Common
@model AccessDenied
@{
    ViewData["Title"] = GlobalConstants.AccessDenied;
}

<header>
    <div class="text-center my-3">
        <h1 class="display-4 text-white fw-bold">@ViewData["Title"]</h1>
        <hr class="text-white"/>
        <h4 class="text-white">@GlobalConstants.YouDoNotHavePermissionForThisResource</h4>
    </div>
</header>
