@page
@using ChessBurgas64.Common
@model ConfirmEmail
@{
    ViewData["Title"] = GlobalConstants.EmailSuccessfulConfirmationMsg;
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>
<hr class="text-white"/>

<h3 class="text-white text-center">@GlobalConstants.StatusDeclarationInstructions</h3>