@page
@using ChessBurgas64.Common
@model ConfirmEmailChange
@{
    ViewData["Title"] = GlobalConstants.EmailChangeConfirmationTitle;
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>
<hr class="text-white"/>
<partial name="_StatusMessage" model="Model.StatusMessage" />