@page
@using ChessBurgas64.Common
@model ForgotPassword

<h1 class="text-white text-center mt-3">@GlobalConstants.ForgottenPasswordTitle.ToUpper()</h1>
<hr class="text-white mb-5" />
<h4 class="text-white text-center my-5">@GlobalConstants.EnterEmailLabel</h4>
<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post" class="text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group text-white text-center">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-2">@GlobalConstants.Send</button>
            <p class="text-white mt-3">
                @GlobalConstants.ForgottenPasswordInfo
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
