@page
@using ChessBurgas64.Common
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = GlobalConstants.PasswordResetConfirmationTopic;
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>
<hr class="text-white"/>
<p class="text-white text-center">
    @GlobalConstants.ForgottenPasswordConfirmationInstructions
</p>

