@page
@using ChessBurgas64.Common
@model RegisterConfirmation
@{
    ViewData["Title"] = GlobalConstants.RegistrationConfirmationTopic;
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>
<hr class="text-white" />
<p class="text-white text-center">
    @GlobalConstants.RegistrationConfirmationInstructions
</p>