@page
@using ChessBurgas64.Common
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = GlobalConstants.PasswordResetSuccess;
}

<h1 class="text-white text-center">@ViewData["Title"]</h1>
<p class="text-white text-center">
    @GlobalConstants.PasswordResetSuccess За да влезете в профила си, натиснете <a asp-page="./Login">тук</a>.
</p>
