@model ChessBurgas64.Web.ViewModels.Users.EditUserInputModel
@using ChessBurgas64.Common

<h1 class="text-white text-center">@GlobalConstants.StatusDeclarationTitle</h1>
<hr class="text-white" />

<h3 class="text-white text-center">@GlobalConstants.StatusDeclarationSubtitle</h3>



