/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --bs-primary: #AB7442;
    --bs-light: #F5F5F5;
    --bs-dark: #353535;
    --bs-max-lines: 3;
}

/* Customize the label (the container) */
.checkboxLabel {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.checkboxLabel:hover input ~ .checkmark {
    background-color: var(--bs-primary);
}

/* When the checkbox is checked, add a blue background */
.checkboxLabel input:checked ~ .checkmark {
    background-color: #da251d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxLabel input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxLabel .checkmark:after {
    left: 9px;
    top: 0px;
    width: 12px;
    height: 24px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background-color: #da251d;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

input[type="radio"]:checked {
    color: #fff;
    background-color: #da251d;
    border-color: #da251d;
}

input[type="radio"]:hover {
    background-color: var(--bs-primary);
}

.btn-primary{
    color: #fff;
    background-color: #da251d;
    border-color: #da251d;
}

.nav-item .active,
.btn:hover, .btn-primary:hover,
.btn:active, .btn-primary:active,
.btn:focus, .btn-primary:focus {
    color: white;
    background-color: var(--bs-primary);
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-right-color: black;
}

.btn:active {
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: var(--bs-primary);
    border-right-color: var(--bs-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ab7442;
    border-color: #ab7442;
}
https://blog.hubspot.com/cs/c/?cta_guid=4daa67bd-7844-4516-a726-bcc454146090&signature=AAH58kHOOseCvndTNN_gTN8En037rwxg4w&pageId=29903739599&placement_guid=be00be7b-acfc-4948-9055-bf6bf9746111&click=0be1b248-547e-4640-b69a-f6f563007910&hsutk=97fb9f6a76e2d06dae76ce8268170ebd&canon=https%3A%2F%2Fblog.hubspot.com%2Fwebsite%2Fhow-to-override-bootstrap-css&portal_id=53&redirect_url=APefjpGkIp4BJcV1udjulMINkNf6URAVnFkxJPWJXxzRnQ70UnxxG3G-BgRkYxdwqrMy_keDy3IddbQAbFh30kJbU5jkwASFaIDOEFHWgDYYCXn4brOL4oRgus0MFh-5_CEaAhhkTnJj8fK8tsh6fPlV6ETinzxfV8mNCvmDdeut4jUilje9QP4&__hstc=20629287.97fb9f6a76e2d06dae76ce8268170ebd.1650638897693.1650638897693.1650638897693.1&__hssc=20629287.1.1650638897694&__hsfp=1521050508&contentType=blog-post
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    background-color: #da251d;
}
