/********** Template CSS **********/
:root {
    --bs-primary: #AB7442;
    --bs-light: #F5F5F5;
    --bs-dark: #353535;
    --bs-max-lines: 3;
}

.img-logo-home{
    max-height: 300px;
    max-width: 300px;
    min-height: 75px;
    min-width: 75px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 90%;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: relative;
        top: -7px;
    }

    .nav-item .submenu {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover > .dropdown-item{
        background-color: #AB7442;
        border-color: black;
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;
        right: 100%;
    }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}

.pagination > li > a {
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: white;
    background-color: var(--bs-primary);
    border-color: #ddd;
}

.pagination > .active > span,
.pagination > .active > a {
    color: white;
    background-color: #da251d !Important;
    border: solid 1px #da251d !Important;
}

.pagination > .active > a:hover {
    background-color: #da251d !Important;
    border: solid 1px #da251d;
}

.backround-header-image-container{
    height: 300px;
}

.title-container {
    background-color: #da251d;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: black;
}

.background-dragon-red {
    background-color: #da251d;
}

.announcement-card-title {
    margin-bottom: auto;
    height: 4.5rem;
    display: block;
    /*max-height: calc(1.5rem * var(--max-lines));*/
}

.trainer-card-title {
    margin-bottom: auto;
    height: 3.0rem;
}

.video-card-title{
    margin-bottom: auto;
    height: 4.5rem;
}

.announcement-card-text{
    height: 4.5rem;
    max-height: calc(1.5rem * var(--max-lines));
    overflow: hidden;
}

.trainer-card-text {
    height: 4.5rem;
    max-height: calc(1.5rem * var(--max-lines));
    overflow: hidden;
}

.video-card-text {
    height: 4.5rem;
    max-height: calc(1.5rem * var(--max-lines));
    overflow: hidden;
}

.carousel-image{
    height: 500px;
    width: max-content;
}

.image-announcement-card {
    height: 205px;
    width: fit-content;
    margin-inline: auto;
}

.image-trainer-card {
    height: 350px;
    width: fit-content;
    margin-inline: auto;
}

.image-announcement {
    display: block;
    max-width: 100%;
    max-height: 400px;
}

.image-trainer {
    max-width: 100%;
    height: auto;
    margin-inline: auto;
}

span > img {
    max-width: 90%;
    height: auto;
}

.announcement-title-container {
    background-color: #da251d;
    display: block;
    height: 60px;
}

.announcement-property-container {
    background-color: #da251d;
    display: block;
    height: 40px;
    width: fit-content;
}

.background-theme {
    background: url(../images/homePage/dark-wooden-wallpaper.jpg);
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/

.navbar {
    background-color: #da251d;
}

/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #da251d;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../images/homePage/chessboard-with-chess-pieces-beginning-game-black.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 150px;
    margin-bottom: 25px;
}

.page-container {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../images/homePage/maxresdefault.jpg) center center no-repeat;
    background-size: cover;
    background-color: #da251d;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title h1 {
    position: relative;
    display: inline-block;
    padding: 0 60px;
}

.section-title.text-start h1 {
    padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: var(--dark);
}

.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}

.section-title.text-start h1::before {
    display: none;
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background-color: #da251d;
}