@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementsListViewModel
@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = GlobalConstants.AnnouncementsNav;
}

<div class="container page-header backround-header-image-container"></div>
<div class="title-container border border-3 border-white mb-3">
    <h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
</div>

<div class="text-center my-5">
    <a asp-action="Search" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> @GlobalConstants.SearchBtn</a>
</div>

<div class="container-xxl">    
    <div class="container">
        <div class="row g-4">
            <partial name="_AnnouncementsInCardsPartial" model="@Model" />
        </div>
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />


