@model ChessBurgas64.Web.ViewModels.Announcements.AnnouncementsListViewModel
@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = GlobalConstants.AnnouncementsNav;
}

<partial name="_PageHeaderContainerPartial" />

<div class="text-center my-5">
    <a asp-action="Search" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> @GlobalConstants.SearchBtn</a>
</div>

<div class="container-xxl">
    <div class="container">
        <div class="row g-4">
            @if (this.Model.Announcements != null && this.Model.Announcements.Count() > 0)
            {
                <partial name="_AnnouncementsInCardsPartial" model="@Model" />
                <hr />
                <partial name="_PagingPartial" model="@Model" />
            }
            else
            {
                <p class="display-6 text-white text-center">@GlobalConstants.NoMatchesFound</p>
            }
        </div>
    </div>
</div>
