@model ChessBurgas64.Web.ViewModels.Videos.VideosListViewModel
@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = GlobalConstants.Videos;
}

<partial name="_PageHeaderContainerPartial" />

<div class="text-center my-5">
    <a asp-action="Search" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> @GlobalConstants.SearchBtn</a>
</div>

<div class="container-xxl">
    <div class="container">
        <div class="row g-4">
            <partial name="_VideosInCardsPartial" model="@Model" />
            <hr />
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>

