<div class="container page-header backround-header-image-container border-bottom"></div>
<div class="title-container border-bottom border-black mb-3">
    <h1 class="display-5 fw-bold py-2 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
</div>
