@model string
@using ChessBurgas64.Common

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Грешка") ? "danger" : "success";
    <div id="statusMsg" class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="document.getElementById('statusMsg').style.display = 'none'"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}