@model ErrorViewModel
@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = ErrorMessages.Error;
}

<h1 class="text-danger text-center fw-bold display-4 my-3">@ErrorMessages.Error</h1>
<hr class="text-white"/>
<h2 class="text-danger my-3">@ErrorMessages.AnErrorOccuredWhileProcessingRequest</h2>

@if (this.Model.ShowRequestId)
{
    <p class="text-white text">
        <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
    </p>
}

