@model ChessBurgas64.Web.ViewModels.Puzzles.PuzzleInputModel
@using ChessBurgas64.Common
@using ChessBurgas64.Data.Models.Enums
@{
    this.ViewData["Title"] = GlobalConstants.AddingNewPuzzle;
}

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <partial name="_PuzzleInputPartial" model="@Model" />
    <div class="container-fluid text-center">
        <button type="submit" class="btn-primary px-2 py-2 fw-bold">@GlobalConstants.Add</button>
    </div>
</form>