@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid rounded mx-auto d-block" src="~/images/homePage/beginning.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <img class="rounded mx-auto d-block mb-5" src="~/images/homePage/burgas64-logo.png" style="height: 300px; width: 300px;" alt="" />
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Добре дошли!</h5>
                            <h1 class="display-4 text-white animated slideInDown mb-4">ШАХМАТЕН КЛУБ "БУРГАС 64"</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">@GlobalConstants.RegistrationLabel</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Вход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
