@model ChessBurgas64.Web.ViewModels.Payments.PaymentInputModel
@using ChessBurgas64.Common 
@{
    this.ViewData["Title"] = GlobalConstants.CreatePayment;
}

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <partial name="_PaymentInputPartial" model="@Model" />
    <button type="submit" class="btn-primary">@GlobalConstants.CreatePayment</button>
</form>