@model ChessBurgas64.Web.ViewModels.Lessons.LessonInputModel
@using ChessBurgas64.Common
@{
    this.ViewData["Title"] = GlobalConstants.CreateLesson;
}

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
<hr class="text-white border border-5" />

<form method="post" enctype="multipart/form-data">
    <partial name="_LessonInputPartial" model="@Model" />
    <button type="submit" class="btn btn-primary">@GlobalConstants.CreateLesson</button>
</form>
