@page
@using ChessBurgas64.Common
@model DeletePersonalData
@{
    ViewData["Title"] = GlobalConstants.DeleteAccount;
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="display-6 text-white text-center mt-3">@this.ViewData["Title"]</h4>
    <hr class="border border-5 border-white text-white" />

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@GlobalConstants.PersonalDataDeleteWarning</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">@GlobalConstants.Password</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">@GlobalConstants.DeleteAccount</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}