@model ChessBurgas64.Web.ViewModels.Groups.GroupInputModel
@using ChessBurgas64.Common
@{
    ViewData["Title"] = GlobalConstants.EditGroupData;
}

<h1 class="display-5 text-white text-center animated slideInDown">@this.ViewData["Title"]</h1>
<hr class="border border-5 border-white text-white" />

<form method="post" enctype="multipart/form-data">
    <partial name="_GroupInputPartial" model="@Model" />

    <div class="container-fluid text-center">
        <button type="submit" class="btn btn-primary">@GlobalConstants.Refresh</button>
    </div>
</form>
